Firmware filter=lfs diff=lfs merge=lfs -text
Klicky-Probe-main filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
image filter=lfs diff=lfs merge=lfs -text
STLs filter=lfs diff=lfs merge=lfs -text
BOOM.xlsx filter=lfs diff=lfs merge=lfs -text
CAD filter=lfs diff=lfs merge=lfs -text
DXF filter=lfs diff=lfs merge=lfs -text
OrcaSllicer filter=lfs diff=lfs merge=lfs -text
